<div class="col-md-9 col-md-offset-7">
    <div class="register">
        <form class="custom-form" method="post" style="position: relative;
        top: -20%;">
            <form action="" method="post" name="login">
                <img src="assets/img/Logosin.png" width="250" height="150" style="margin-left: 13%;" />
                <br> <br>
                <div class="form-group">
                    Ingresa tu usuario :
                    <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" (ngModel)="login.Usuario">
                </div>
                <div class="form-group">
                    Contraseña :
                    <input type="password" name="password" id="password" class="form-control" aria-describedby="emailHelp" placeholder="Enter Password" (ngModel)="login.Contrasena">
                </div>
                <div class="col-md-12 text-center ">
                    <Button type="button" (click)=" Login() " class="btn btn-outline-secondary">Iniciar Sesion</Button>
                </div>

            </form>
        </form>
    </div>
</div>