<app-header></app-header>
<app-menu></app-menu>
<br>
<div class="panel">
    <div class="card">
        <div class="card-body">
            <form class="form-inline">
                <input type="button" class="btn btn-secondary form-control botones" value="Añadir Usuario" data-toggle="modal" data-target="#myModal"> &nbsp;&nbsp;
                <div class="modal" id="myModal">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Usuario</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                <form class="form-signin">
                                    <div class="row">
                                        <div class="col-4">
                                            <div *ngIf='validarPerfil' class="alert alert-danger">
                                                <strong>Danger!</strong>* Este Campo Pefil es requerido.
                                            </div>

                                            <select name="id_Perfil" class="form-control" [(ngModel)]="id_Perfil" (change)="cargar()">
                                                <option *ngFor="let UsuarioPerfil of MostrarPerfilActivo " value="{{ UsuarioPerfil.id_Perfil }}">{{ UsuarioPerfil.nombre_Perfil }}</option>
                                            </select>
                                        </div>


                                        <div class="col-4">
                                            <!-- <div class="md-form">-->
                                            <div *ngIf='validarNombre' class="alert alert-danger">
                                                <strong>Danger!</strong>* Este Campo Nombre es requerido.
                                            </div>
                                            Nombre * : <input type="text" class="form-control" id="" placeholder="Nombre" name="Nombre" [(ngModel)]='Usuario.nombre'>
                                            <!--</div>-->
                                        </div>

                                        <div class="col">
                                            <div *ngIf='validarApellido' class="alert alert-danger">
                                                <strong>Danger!</strong>* Este Campo Nombre es requerido.
                                            </div>
                                            Apellidos * :<input type="text" class="form-control" id="" placeholder="Apellido" name="Apellido" [(ngModel)]='Usuario.apellido'>
                                            <br>
                                        </div>
                                        <div class="col">
                                            <div *ngIf='validarTelefono' class="alert alert-danger">
                                                <strong>Danger!</strong>* Este Campo Telefono es requerido.
                                            </div>
                                            Telefono * :<input type="text" class="form-control" placeholder="Telefono" name="Telefono" [(ngModel)]='Usuario.telefono'>
                                            <br>
                                        </div>
                                        <div class="col">
                                            <div *ngIf='validarNacimeiento' class="alert alert-danger">
                                                <strong>Danger!</strong>* Este Campo Fecha de Nacimiento es requerido.
                                            </div>
                                            Fecha de Nacimiento * :<input type="date" class="form-control" id="" name="Fecha_Nacimiento" [(ngModel)]='Usuario.fecha_Nacimineto'>
                                            <br>
                                        </div>
                                        <div class="col">
                                            <div *ngIf='validarDomicilio' class="alert alert-danger">
                                                <strong>Danger!</strong>* Este Campo Domicilio es requerido.
                                            </div>
                                            Domicilio * :<input type="text" class="form-control" placeholder="Domicilio" name="Domicilio" [(ngModel)]='Usuario.domicilio'>
                                        </div>
                                        <div class="col">
                                            <div *ngIf="validraCodigoPostal" class="alert alert-danger">
                                                <strong>Danger!</strong>* Este Campo Codigo Postal requerido.
                                            </div>
                                            Codigo Postal * :<input type="text" class="form-control" id="" placeholder="Codigo Postal" name="codigoPostal" [(ngModel)]='Usuario.codigo_Postal'>
                                        </div>
                                        <div class="col">
                                            <div *ngif="validarNoInterno" class="alert alert-danger">
                                                <strong>Danger!</strong>* Este Campo No Interno es requerido.
                                            </div>
                                            No Interno * :<input type="text" class="form-control" placeholder="No Interno" name="NoInterno" [(ngModel)]='Usuario.no_Interno'>
                                        </div>

                                        <div class="col">
                                            <div *ngIf="validarNoExterno" class="alert alert-danger">
                                                <strong>Danger!</strong>* Este Campo No Externo es requerido.
                                            </div>
                                            No Externo * :<input type="text" class="form-control" placeholder="No Externo" name="NoExterno" [(ngModel)]='Usuario.no_Exterior'>
                                        </div>
                                        <hr>
                                        <div class="col">
                                            <div class="md-form">
                                                Observación :
                                                <textarea id="form7" class="md-textarea form-control" placeholder="Observaciones" rows="3" name="Observaciones" [(ngModel)]='Usuario.obserbacion'></textarea>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="md-form">
                                                <div *ngif="validarStatus" class="alert alert-danger">
                                                    <strong>Danger!</strong>* Este Campo Estatus es requerido.
                                                </div>
                                                <br> Estatus : <select class="form-control" name="Status" [(ngModel)]='Usuario.status'>
                                                <option value="0">Seleccionar</option>
                                                <option value="1">Activo</option>
                                                <option value="2">Inacivo</option>
                                            </select>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <input type="hidden" class="form-control" placeholder="Enter password" name="pswd">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-outline-secondary" (click)="GuardarUsuario();">Guardar</button>
                                <!--data-dismiss="modal"-->
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Esta es la parte que pueden editar las informacion en esta session-->
                <input type="button" class="btn btn-secondary form-control" value="Edidar Usuario" data-toggle="modal" data-target="#myModal3">&nbsp;&nbsp;
                <div class="modal" id="myModal3">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Usuario para editar</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                <form class="form-signin">
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="md-form">
                                                <div class="alert alert-danger">
                                                    <strong>Danger!</strong>* Este Campo Nombre es requerido.
                                                </div>
                                                Nombre * : <input type="text" class="form-control" id="" placeholder="Nombre" name="Nombre">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="alert alert-danger">
                                                <strong>Danger!</strong>* Este Campo Nombre es requerido.
                                            </div>
                                            Apellidos * :<input type="text" class="form-control" id="" placeholder="Apellido" name="Apellido">
                                        </div>
                                        <div class="col">
                                            <div class="alert alert-danger">
                                                <strong>Danger!</strong>* Este Campo Apellido Paterno es requerido.
                                            </div>
                                            Telefono * :<input type="text" class="form-control" placeholder="Telefono" name="Telefono">
                                        </div>
                                        <div class="col">
                                            <div class="alert alert-danger">
                                                <strong>Danger!</strong>* Este Campo Apellido Materno es requerido.
                                            </div>
                                            Fecha de Nacimiento * :<input type="date" class="form-control" id="" name="Fecha_Nacimiento">
                                        </div>

                                        <div class="col">
                                            <div class="alert alert-danger">
                                                <strong>Danger!</strong>* Este Campo Domicilio es requerido.
                                            </div>
                                            Domicilio*:<input type="text" class="form-control" placeholder="Domicilio" name="Domicilio">
                                        </div>
                                        <div class="col">
                                            <div class="alert alert-danger">
                                                <strong>Danger!</strong>* Este Campo Codigo Postal requerido.
                                            </div>
                                            Codigo Postal * :<input type="text" class="form-control" id="" placeholder="Codigo Postal" name="codigoPostal">
                                        </div>
                                        <div class="col">
                                            <div class="alert alert-danger">
                                                <strong>Danger!</strong>* Este Campo No Interno es requerido.
                                            </div>
                                            No Interno * :<input type="text" class="form-control" placeholder="No Interno" name="NoInterno">
                                        </div>

                                        <div class="col">
                                            <div class="alert alert-danger">
                                                <strong>Danger!</strong>* Este Campo No Externo es requerido.
                                            </div>
                                            No Externo * :<input type="text" class="form-control" placeholder="No Externo" name="NoExterno">
                                        </div>
                                        <hr>
                                        <div class="col">
                                            <div class="md-form">
                                                Observación :
                                                <textarea id="form7" class="md-textarea form-control" placeholder="Observaciones" rows="3" name="Observaciones"></textarea>
                                            </div>
                                        </div>

                                        <div class="col">
                                            <div class="md-form">
                                                <div class="alert alert-danger">
                                                    <strong>Danger!</strong>* Este Campo Estatus es requerido.
                                                </div>
                                                <br> Estatus : <select class="form-control" name="Status">
                                                <option value="0">Seleccionar</option>
                                                <option value="1">Activo</option>
                                                <option value="2">Inacivo</option>
                                            </select>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <input type="hidden" class="form-control" placeholder="Enter password" name="pswd">
                                        </div>
                                    </div>

                                </form>
                            </div>
                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-outline-secondary">Guardar</button>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br>
    <!--en esta parte esta las tablas -->

    <div class="card">
        <div class="card-header">
            Usuario
        </div>
        <div class="row">
            <div class="col-4">
            </div>
            <div class="col-3 activos">
                <Button type="button" routerLinkActive="active" (click)="UsuarioActivo();" class="btn btn-outline-secondary ">Activo</Button> &nbsp;&nbsp;
                <Button type="button" routerLinkActive="active" (click)="UsuarioInactivo();" class="btn btn-outline-secondary ">Inactivo</Button>
            </div>
            <div class="col-4">
                <input type="text" class="form-control buscar" id="" placeholder="Buscar" name="filtro4">
            </div>
        </div>

        <div class="card-body">
            <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%" *ngIf="mostrartabla">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre Completo </th>
                        <th>Telefono</th>
                        <th>Fecha De Nacimiento</th>
                        <th>Domicilio</th>
                        <th>Cod Postal</th>
                        <th>Numero Interno</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let usuario of mostrarUsuarioActivo'>

                        <!--| filter4: filtro4-->
                        <td>{{usuario.id_Usuario}}</td>
                        <td>{{usuario.nombre}} {{usuario.apellido}}</td>
                        <td>{{usuario.telefono}}</td>
                        <td>{{usuario.fecha_Nacimineto}}</td>
                        <td>{{usuario.domicilio}}</td>
                        <td>{{usuario.codigo_Postal}}</td>
                        <td>{{usuario.no_Interno}}</td>
                        <td *ngIf='usuario.status === 1'> Activo</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--datos de la entradas-->
        <div class="card-body">
            <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%" *ngIf="ocultartabla">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre Completo </th>
                        <th>Telefono</th>
                        <th>Fecha De Nacimiento</th>
                        <th>Domicilio</th>
                        <th>Cod Postal</th>
                        <th>Numero Interno</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let usuarioinactivo of mostrarUsuarioInactivo'>
                        <!--| filter4: filtro4-->
                        <td>{{usuarioinactivo.id_Usuario}}</td>
                        <td>{{usuarioinactivo.nombre}} {{usuarioinactivo.apellido}}</td>
                        <td>{{usuarioinactivo.telefono}}</td>
                        <td>{{usuarioinactivo.fecha_Nacimineto}}</td>
                        <td>{{usuarioinactivo.domicilio}}</td>
                        <td>{{usuarioinactivo.codigo_Postal}}</td>
                        <td>{{usuarioinactivo.no_Interno}}</td>
                        <td *ngIf='usuarioinactivo.status === 0'>Inactivo</td>
                        <!--*ngIf='usuarioInactivos.Status === 2'-->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>