<app-header></app-header>
<app-menu></app-menu>
<br>
<div class="panel">
    <div class="card">
        <div class="card-body">

        </div>
    </div>
    <br>
    <!--en esta parte esta las tablas -->

    <div class="card">
        <div class="card-header">
            Dashboard
        </div>
        <div class="row">
            <!--cantidad de usuarios -->
            <div class="col-6">
                <div>
                    <div>
                        <div style="display: block">
                            <canvas baseChart [data]="doughnutChartData" [type]="doughnutChartType">
                        </canvas>
                        </div>
                    </div>
                </div>
            </div>
            <!--camiones en sirculacion-->
            <div class="col-6">
                <div>
                    <div>
                        <div style="display: block">
                            <canvas baseChart [data]="radarChartData" [options]="radarChartOptions" [type]="radarChartType">
                        </canvas>
                        </div>
                    </div>
                </div>

            </div>
            <br><br><br><br>
            <div class="col-6">
                <div>
                    <div>
                        <div>
                            <div class="grafica" style="display: block">
                                <canvas baseChart [data]="barChartData" [options]="barChartOptions" [type]="barChartType" (chartHover)="chartHovered3($event)" (chartClick)="chartClicked3($event)"></canvas>
                            </div>
                            <button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button>
                        </div>
                    </div>
                </div>
            </div>
            <br><br><br><br>
            <div class="grafica">
                <div class="col-6">
                    <input type="button" class="btn btn-secondary" value="Reporte de Usuarios">
                </div>
            </div>
            <div class="grafica">
                <div class="col-6">
                    <input type="button" class="btn btn-secondary" value="Reporte de Transporte">
                </div>
            </div>
        </div>

        <div class="card-body">

        </div>
        <!--datos de la entradas-->
        <div class="card-body">

        </div>
    </div>
</div>